<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/{{ theme_path('css/styles.css') }}" />
    <script src="/{{ theme_path('js/vendor/modernizr.js') }}"></script>
  </head>
  <body>
    
    <div class="row">
      <div class="large-12 columns">
        <h1>DrupalCorn Sculpin Demo {% block content_type %}{% endblock %}</h1>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">    
        {% block content %}{% endblock%}
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">    
        {% block extra %}{% endblock%}
      </div>
    </div>

  </body>
</html>
